.profile-view__image-container {
  background-color: #54d3bf;
  height: 220px;
  text-align: center;
  margin: -20px -20px 20px;
}

.profile-view__image {
  padding-top: 20px;
  height: 200px;
  max-height: 200px;
  text-align: center;
}
